$font-color-primary: #222;
$font-color-navigation: #fefefe;

$bg-color-base: rosybrown;
$bg-color-navbar: rgba(38, 38, 38, 0.75);
$bg-color-content: #f0f0f0;

$border-color: #e6e6e6;
$border-radius: 5px;
$border-box-shadow: 4px 4px 10px 4px rgb(50, 50, 50, 0.5);
