.NavbarBackground {
  &__navigation {
    color: $font-color-navbar;

    &--links {
      > ul {
        height: 6rem;
        padding: 0;
        display: flex;
        gap: 2.5rem;
        align-items: center;
        list-style: none;
        text-transform: uppercase;

        > li > a {
          color: $font-color-navbar;
          text-decoration: none;
          transition: color 250ms ease-in-out;

          &:hover {
            color: $bg-color-base;
          }
        }
      }
    }
  }
}
